{% extends "layout.html.twig" %}

{% block content %}
    <div class="form">

        <form action="{{ path('registration') }}" method="POST">
            <input name="_login" required placeholder="Login" /><br />
            <input type="password" name="_password" required placeholder="Password" /><br />
            <input type="password" name="_re-password" required placeholder="Re-enter password" /><br />
            <div class="errors">
                {% for alert in app.session.flashbag.get('registration_error') %}
                    <p class="error-text">{{ alert }}</p>
                {% endfor %}
            </div>
            <button>Login</button>
        </form>

    </div>
{% endblock %}